<!--
    ========================================================================================================================
    ; Title: contact.component.html
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 5/31/23
    ; Description: The purpose of this assignment is to create angular component and practice routing
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 2.4 – Routing in Action
    ========================================================================================================================
-->
<div class="contact-container">
  <div class="row">
    <div class="col-sm-12">
      <h4>Welcome to the Contact Us page</h4>
    </div>
  </div>

  <br /><br />
  <div class="row">
    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1>&#x2709; Address</h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item">123 Main St</li>
            <li class="list-group-item">Frankfurt, Germany 60306</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1>&#xe125; Telephone</h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item">Direct: 234-456-7890</li>
              <li class="list-group-item">Toll-free: 1-888-888-4444</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
