<!--
    ========================================================================================================================
    ; Title: app.component.html
    ; Author: Shane hingtgen
    ; Bellevue University
    ; Date: 5/23/23
    ; Description: The purpose of this assignment is to create angular component
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 1.5 - Components
    ========================================================================================================================
-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>

<h2>{{ assignment }}</h2>

<div role="main" class="container">
  <div class="row">
    <div class="col-sm-4">
      <app-my-image> </app-my-image>
    </div>
    <div class="col-sm-8">
      <app-my-details> </app-my-details>
    </div>
  </div>
</div>
