<!--
    ========================================================================================================================
    ; Title: contact.component.html
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 6/20/23
    ; Description: This purpose of this assignment is create new navigation and layout based on flex layout and angular materials
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 5.1 - Navigation and Layout
    Angular Tutorial video https://www.youtube.com/watch?v=J2RHvuYFna4
    Angular Tutorial video https://www.youtube.com/watch?v=Wif3MsDN7Pg
    Course GitHub
    ========================================================================================================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>505 Main Street</p>
        <p>Omaha, Nebraska</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>Direct: 123-4567-8910</p>
        <p>Toll-free: 1-800-555-5555</p>
        <p>Fax: 555-555-5555</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />

<div fxLatout="column">
  <p style="text-align: center">
    Visit Us online or at one of our many great locations through the Omaha
    metro area.
  </p>
</div>
