<!--
    ========================================================================================================================
    ; Title: about.component.html
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 5/31/23
    ; Description: The purpose of this assignment is to create angular component and practice routing
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 2.4 – Routing in Action
    ========================================================================================================================
-->
<div class="row">
  <div class="col-sm-12">
    <h4 style="text-align: center">Hans Zimmer</h4>
  </div>
</div>
<br /><br />
<hr />
<div class="row">
  <div class="col-sm-4">
    <img
      src="./assets/hans-zimmer.jpg"
      alt="Credit: ID 174407342 © Featureflash | Dreamstime.com"
      title="Credit: ID 174407342 © Featureflash | Dreamstime.com"
      style="width: 300px"
    />
  </div>

  <div class="col-sm-8">
    <p>
      Hans Zimmer is a German composer who has created some of Hollywood's most
      spectacular music. Hans has won a Golden Globe, a Tony, an American Music
      Award, and two Grammy’s for the production of music for movies such as
      Gladiator, The Lion King, Rain Main, The Last Samurai, The Preachers Wife,
      Thin Red Line, As Good as It Gets and The Prince of Egypt. Each of those
      movies he was nominated for an award including the Lion King which the
      soundtrack even sold over 15 million copies.
    </p>
  </div>
</div>

<!-- Source IMDB https://www.imdb.com/name/nm0001877/bio/ -->
