<!--
    ========================================================================================================================
    ; Title: gpa-component.html
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 6/28/23
    ; Description: This purpose of this assignment is create new navigation and layout based on flex layout and angular materials
    ; Work Cited:
    Coding Guidelines
    Instructions - Assignment 6.4 - Input
    Course GitHub
    ========================================================================================================================
-->
{{ gpaTotal | number : "1.1-2" }}
<!--Note: the first one represents how many whole number digits we want to show.  The second 1 represents the minimum number of fractional decimals to display and the last value represents the maximum fractional decimals to display  -->
