<!--
    ========================================================================================================================
    ; Title: book-details-dialog.component.html
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 6/21/23
    ; Description: This purpose of this assignment is create new navigation and layout based on flex layout and angular materials
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 5.1 - Navigation and Layout
    Instructions - Exercise 5.3 - Data Tables
    Instructions - Assignment 5.4 - Dialogs
    Angular Tutorial video https://www.youtube.com/watch?v=J2RHvuYFna4
    Angular Tutorial video https://www.youtube.com/watch?v=Wif3MsDN7Pg
    Material Angular https://material.angular.io/components/table/examples
    Course GitHub
    ========================================================================================================================
-->

<mat-card>
  <mat-card-title class="blue">{{ book.title }}</mat-card-title>
  <br /><br />
  <mat-card-content>
    <div fxLayout="column">
      <p>ISBN: {{ book.isbn }}</p>
      <p>
        Description:<br />
        {{ book.description }}
      </p>
      <p>
        Authors:<br />
        {{ book.authors.join(", ") }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" matDialogClose="confirm">
      Ok
    </button>
  </mat-card-actions>
</mat-card>
