<!--
    ========================================================================================================================
    ; Title: app.component.html
    ; Author: Shane hingtgen
    ; Bellevue University
    ; Date: 6/6/23
    ; Description: The purpose of this assignment is to create angular component
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 1.5 - Components
    Instructions - Exercise 2.3 – Data Binding
    Instructions - Exercise 3.3 – Passing Data to Routes - Part 2
    ========================================================================================================================
-->
<router-outlet></router-outlet>
