/*
    ========================================================================================================================
    ; Title: app.component.scss
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 6/21/23
    ; Description: This purpose of this assignment is create new navigation and layout based on flex layout and angular materials
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 5.1 - Navigation and Layout
    Instructions - Assignment 8.2 - Server side communications 
    Angular Tutorial video https://www.youtube.com/watch?v=J2RHvuYFna4
    Angular Tutorial video https://www.youtube.com/watch?v=Wif3MsDN7Pg
    Material Angular https://material.angular.io/components/table/examples
    Course GitHub
    ========================================================================================================================
 */

.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 25px;
}

.grid-container__item {
  padding: 20px;
  font-size: 30px;
}

.grid-container__ahref:hover {
  text-decoration: underline;
}

.grid-container__ahref {
  text-decoration: none;
  cursor: pointer;
}