<!--
    ========================================================================================================================
    ; Title: about.component.html
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 6/20/23
    ; Description: This purpose of this assignment is create new navigation and layout based on flex layout and angular materials
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 5.1 - Navigation and Layout
    Angular Tutorial video https://www.youtube.com/watch?v=J2RHvuYFna4
    Angular Tutorial video https://www.youtube.com/watch?v=Wif3MsDN7Pg
    Course GitHub
    ========================================================================================================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/mark-twain-67793_1280.jpg" height="400" />
      </div>
      <div>
        <em>
          Photo by wikiImages on
          <a
            class="attribution-link"
            href="https://pixabay.com/photos/mark-twain-author-writer-67793/"
            target="_blank"
            >pixabay</a
          >
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Mark Twain</h1>
    <p>
      Mark Twain, or his real name Samuel Langhorne Clemens, is an American
      Author who grew up in Hannibal, Missouri. Originally born in Florida,
      Missouri in 1835. He was an amazing author and public speaker His most
      famous books are the Adventures of Huckleberry Finn wrote in 1855 and The
      Adventures of Tom Sawyer wrote in 1876. Both these books setting was in
      his home town Hannibal, Missouri. William Faulkner even said Mark Twain
      was “the father of American literacture”
    </p>
    <em
      >Source:
      <a
        href="https://www.goodreads.com/author/show/1244.Mark_Twain"
        target="_blank"
        class="attribution-link"
        >Mark Twain Biography</a
      >
    </em>
  </div>
</div>
