<!--
    ========================================================================================================================
    ; Title: my-image.component.html
    ; Author: Shane hingtgen
    ; Bellevue University
    ; Date: 5/23/23
    ; Description: The purpose of this assignment is to create angular component
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 1.5 - Components
    ========================================================================================================================
-->

<img src="./assets/myimg.jpeg" alt="Shane" title="Shane" />
