<!--
    ========================================================================================================================
    ; Title: my-details.component.html
    ; Author: Shane hingtgen
    ; Bellevue University
    ; Date: 5/23/23
    ; Description: The purpose of this assignment is to create angular component
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 1.5 - Components
    ========================================================================================================================
-->
<ul class="list">
  <li>Name: Shane Hingtgen</li>
  <li>Favorite Food: Prime Rib</li>
  <li>
    Favorite Color: <strong style="color: #ce2029">Fire Engine Red</strong>
  </li>
</ul>
